.subhead,.heading
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.Paragraph-Style
{
	font-family: muli-n3, sans-serif;
}

#u318-4
{
	font-family: pt-sans-n7, sans-serif;
}

#u333-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#u329-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu326.frm-sub-st #u327-4 p,#widgetu326.frm-subm-err-st #u341-4 p,#widgetu326.frm-subm-ok-st #u336-4 p
{
	font-family: gentium-book-basic-i7, sans-serif;
}

#u339-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

#widgetu332_input,#widgetu332_prompt,#widgetu328_input,#widgetu328_prompt,#widgetu337_input,#widgetu337_prompt
{
	font-family: gentium-book-basic, sans-serif;
}

