.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.subhead,.heading,.Paragraph-Style-4,.CallforInfo,.ProdTitleh2,.ProdTitleRed
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.Paragraph-Style,.Paragraph-Style-2,.Paragraph-Style-3,.LabelDescripGrey
{
	font-family: muli-n3, sans-serif;
}

.Red-Price
{
	font-family: muli-n4, sans-serif;
}

#u1572-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1579-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1567-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1591-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1588-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1628-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1642-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1636-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1617-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1624-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1646-5
{
	font-family: open-sans-n3, sans-serif;
}

#u1852-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1857-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1671-4,#u1669-3
{
	font-family: open-sans-n3, sans-serif;
}

#u2030-6
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1666-15,#u1666-16,#u1777-14,#u1777-15,#u1791-15,#u1791-16,#u2013-3,#u2014-14 > #u2014-3:before,#u2014,#u2014-2,#u2019-3,#u2019-14
{
	font-family: muli-n4, sans-serif;
}

