.version.contact /* version checker */
{
	color: #00000D;
	background-color: #DD8588;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.9488434296136px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#u1559
{
	z-index: 134;
	height: 91px;
	top: 0px;
}

#u1559-bw
{
	z-index: 134;
}

#u1596
{
	z-index: 166;
	width: 161px;
	top: 20px;
	left: 50%;
	margin-left: -411px;
}

#u1596_clip
{
	width: 161px;
	height: 61px;
}

#u1596_img
{
	margin-right: -9px;
	margin-bottom: -3px;
}

#menuu1560
{
	z-index: 135;
	width: 506px;
	top: 20px;
	left: 50%;
	margin-left: -152px;
}

#u1568
{
	width: 99px;
	min-height: 48px;
	margin-right: -10000px;
}

#u1571
{
	width: 99px;
	padding-bottom: 28px;
}

#u1572-4
{
	width: 99px;
	min-height: 20px;
	margin-right: -10000px;
	top: 14px;
}

#u1571:hover #u1572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1571:active #u1572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1575
{
	width: 99px;
	min-height: 48px;
	margin-right: -10000px;
	left: 101px;
}

#u1576
{
	width: 99px;
	padding-bottom: 28px;
}

#u1571.MuseMenuActive,#u1576.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u1579-4
{
	width: 99px;
	min-height: 20px;
	margin-right: -10000px;
	top: 14px;
}

#u1571.MuseMenuActive #u1572-4,#u1576:hover #u1579-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1576:active #u1579-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1576.MuseMenuActive #u1579-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1561
{
	width: 100px;
	min-height: 48px;
	margin-right: -10000px;
	left: 202px;
}

#u1564
{
	width: 100px;
	padding-bottom: 28px;
}

#u1567-4
{
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	top: 14px;
}

#u1564:hover #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1564:active #u1567-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1589
{
	width: 100px;
	min-height: 48px;
	margin-right: -10000px;
	left: 304px;
}

#u1590
{
	width: 100px;
	padding-bottom: 28px;
}

#u1591-4
{
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	top: 14px;
}

#u1564.MuseMenuActive #u1567-4,#u1590:hover #u1591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1590:active #u1591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1582
{
	width: 100px;
	min-height: 48px;
	margin-right: -10000px;
	left: 406px;
}

#u1585
{
	width: 100px;
	padding-bottom: 28px;
}

#u1564.MuseMenuActive,#u1590.MuseMenuActive,#u1585.MuseMenuActive
{
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u1588-4
{
	width: 100px;
	min-height: 20px;
	margin-right: -10000px;
	top: 14px;
}

#u1590.MuseMenuActive #u1591-4,#u1585:hover #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1585:active #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1585.MuseMenuActive #u1588-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 100px;
	margin: 0px -10000px 0px 0px;
}

#u1598
{
	z-index: 168;
	top: 28px;
	left: 50%;
	margin-left: 374px;
}

#u1600
{
	z-index: 169;
	top: 28px;
	left: 50%;
	margin-left: 426px;
}

#u324
{
	z-index: 88;
	width: 916px;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 220px;
	position: relative;
}

#pu316-4
{
	width: 0.01px;
	margin-top: 26px;
}

#u316-4
{
	z-index: 72;
	width: 952px;
	min-height: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u317
{
	z-index: 76;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 1px;
}

#u319
{
	z-index: 77;
	width: 952px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u321
{
	z-index: 79;
	width: 445px;
	height: 28px;
	border-style: solid;
	border-color: #562D0F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	border-width: 2px 0px 0px;
}

#u320
{
	z-index: 78;
	width: 446px;
	height: 28px;
	border-style: solid;
	border-color: #562D0F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 506px;
	border-width: 2px 0px 0px;
}

#u318-4
{
	z-index: 80;
	width: 88px;
	min-height: 17px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 4px;
	color: #8A4810;
	text-align: center;
	letter-spacing: 3px;
	font-size: 24px;
	line-height: 24px;
	font-family: pt-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u322-4
{
	z-index: 84;
	width: 952px;
	min-height: 62px;
	background-color: transparent;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#widgetu326
{
	z-index: 89;
	width: 0.01px;
	height: 448px;
	margin-left: 340px;
	margin-top: 22px;
	position: relative;
}

#widgetu332
{
	z-index: 90;
	width: 296px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u333-4
{
	z-index: 91;
	width: 275px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #562D0F;
	background-color: transparent;
	color: #8A4810;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 8px 6px 6px 13px;
}

.html,#widgetu332.non-empty-st #u333-4
{
	background-color: #FFFFFF;
}

#widgetu332:hover #u333-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 275px;
	margin: 0px -10000px 0px 0px;
}

#widgetu332.focus-st #u333-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 275px;
	margin: 0px -10000px 0px 0px;
}

#widgetu332_input,#widgetu332_prompt
{
	width: 275px;
	min-height: 31px;
	color: #8A4810;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 400;
	padding: 8px 6px 6px 13px;
}

#widgetu328
{
	z-index: 95;
	width: 296px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 303px;
}

#widgetu332.fld-err-st,#widgetu328.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 296px;
	height: 47px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u329-4
{
	z-index: 96;
	width: 275px;
	min-height: 31px;
	border-width: 1px;
	border-style: solid;
	border-color: #562D0F;
	background-color: transparent;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 8px 6px 6px 13px;
}

#widgetu328.non-empty-st #u329-4
{
	background-color: #FFFFFF;
}

#widgetu328:hover #u329-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 275px;
	margin: 0px -10000px 0px 0px;
}

#widgetu328.focus-st #u329-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 275px;
	margin: 0px -10000px 0px 0px;
}

#widgetu332.fld-err-st #u333-4,#widgetu328.fld-err-st #u329-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 31px;
	width: 275px;
	margin: 0px -10000px 0px 0px;
}

#widgetu328_input,#widgetu328_prompt
{
	width: 275px;
	min-height: 31px;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 400;
	padding: 8px 6px 6px 13px;
}

#u327-4
{
	z-index: 100;
	width: 262px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #F5F1EE;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
}

#u341-4
{
	z-index: 104;
	width: 262px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #F5F1EE;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
}

#u336-4
{
	z-index: 108;
	width: 262px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #F5F1EE;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
}

#widgetu326.frm-sub-st #u327-4,#widgetu326.frm-subm-err-st #u341-4,#widgetu326.frm-subm-ok-st #u336-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu326.frm-sub-st #u327-4 p,#widgetu326.frm-subm-err-st #u341-4 p,#widgetu326.frm-subm-ok-st #u336-4 p
{
	color: #8A4810;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: left;
	line-height: 24px;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: 0px;
}

#u342-17
{
	z-index: 112;
	min-height: 49px;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 399px;
	left: 398px;
	background: url("../images/u342-17.png") no-repeat 0px 0px;
}

#u342-17:hover
{
	background: url("../images/u342-17-r.png") no-repeat 0px 0px;
}

#u342-17:active
{
	background: url("../images/u342-17-m.png") no-repeat 0px 0px;
}

#widgetu326.frm-sub-st #u342-17
{
	background: url("../images/u342-17-fs.png") no-repeat 0px 0px;
}

#widgetu337
{
	z-index: 129;
	width: 600px;
	height: 327px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu337.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 600px;
	height: 327px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u339-4
{
	z-index: 130;
	width: 579px;
	min-height: 311px;
	border-width: 1px;
	border-style: solid;
	border-color: #562D0F;
	background-color: transparent;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 8px 6px 6px 13px;
}

#widgetu337.non-empty-st #u339-4
{
	background-color: #FFFFFF;
}

#widgetu337:hover #u339-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 311px;
	width: 579px;
	margin: 0px -10000px 0px 0px;
}

#widgetu337.focus-st #u339-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 311px;
	width: 579px;
	margin: 0px -10000px 0px 0px;
}

#widgetu337.fld-err-st #u339-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 8px;
	padding-bottom: 6px;
	min-height: 311px;
	width: 579px;
	margin: 0px -10000px 0px 0px;
}

#widgetu332.fld-err-st #u333-4 *,#widgetu328.fld-err-st #u329-4 *,#widgetu337.fld-err-st #u339-4 *
{
	color: #851C25;
	font-style: italic;
}

#widgetu337_input,#widgetu337_prompt
{
	width: 579px;
	min-height: 311px;
	font-family: gentium-book-basic, sans-serif;
	font-weight: 400;
	padding: 8px 6px 6px 13px;
}

#widgetu332:hover #widgetu332_input,#widgetu332.focus-st #widgetu332_input,#widgetu332.fld-err-st #widgetu332_input,#widgetu332:hover #widgetu332_prompt,#widgetu332.focus-st #widgetu332_prompt,#widgetu332.fld-err-st #widgetu332_prompt,#widgetu328:hover #widgetu328_input,#widgetu328.focus-st #widgetu328_input,#widgetu328.fld-err-st #widgetu328_input,#widgetu328:hover #widgetu328_prompt,#widgetu328.focus-st #widgetu328_prompt,#widgetu328.fld-err-st #widgetu328_prompt,#widgetu337:hover #widgetu337_input,#widgetu337.focus-st #widgetu337_input,#widgetu337.fld-err-st #widgetu337_input,#widgetu337:hover #widgetu337_prompt,#widgetu337.focus-st #widgetu337_prompt,#widgetu337.fld-err-st #widgetu337_prompt
{
	padding-top: 8px;
	padding-bottom: 6px;
}

#widgetu332.non-empty-st #widgetu332_prompt,#widgetu328.non-empty-st #widgetu328_prompt,#widgetu337.non-empty-st #widgetu337_prompt
{
	visibility: hidden;
}

#u313-10
{
	z-index: 42;
	width: 333px;
	background-color: transparent;
	left: -4px;
	top: -441px;
	margin-bottom: -120px;
	position: relative;
}

#u314-10
{
	z-index: 52;
	width: 333px;
	background-color: transparent;
	left: -4px;
	top: -321px;
	margin-bottom: -120px;
	position: relative;
}

#u315-10
{
	z-index: 62;
	width: 333px;
	min-height: 215px;
	background-color: transparent;
	left: -4px;
	top: -172px;
	margin-bottom: -172px;
	position: relative;
}

#u313-2,#u313-4,#u314-2,#u314-4,#u315-2,#u315-4
{
	font-size: 16px;
	padding-bottom: 0px;
}

#u1609
{
	z-index: 3;
	min-height: 219px;
}

#u1609_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 8px;
	margin-bottom: -2px;
}

#menuu1610
{
	z-index: 4;
	width: 369px;
	left: 395px;
}

#u1625
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1626
{
	width: 72px;
	padding-bottom: 17px;
}

#u1628-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1639
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 74px;
}

#u1640
{
	width: 72px;
	padding-bottom: 17px;
}

#u1642-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1632
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 148px;
}

#u1633
{
	width: 72px;
	padding-bottom: 17px;
}

#u1636-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1611
{
	width: 72px;
	min-height: 34px;
	margin-right: -10000px;
	left: 222px;
}

#u1614
{
	width: 72px;
	padding-bottom: 17px;
}

#u1626.MuseMenuActive,#u1640.MuseMenuActive,#u1633.MuseMenuActive,#u1614.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1617-4
{
	width: 72px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1626.MuseMenuActive #u1628-4,#u1640.MuseMenuActive #u1642-4,#u1633.MuseMenuActive #u1636-4,#u1614.MuseMenuActive #u1617-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 72px;
	margin: 0px -10000px 0px 0px;
}

#u1618
{
	width: 73px;
	min-height: 34px;
	margin-right: -10000px;
	left: 296px;
}

#u1621
{
	width: 73px;
	padding-bottom: 17px;
}

#u1621.MuseMenuActive
{
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1624-4
{
	width: 73px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u1621.MuseMenuActive #u1624-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#pu1655
{
	width: 0.01px;
	left: 503px;
	margin-top: 30px;
	position: relative;
}

#u1655
{
	z-index: 40;
	width: 50px;
	margin-right: -10000px;
}

#u1657
{
	z-index: 41;
	width: 50px;
	margin-right: -10000px;
	left: 104px;
}

#u1646-5
{
	z-index: 35;
	width: 442px;
	min-height: 40px;
	left: 359px;
	margin-top: 57px;
}

#u1609-bw
{
	z-index: 3;
	min-height: 219px;
	margin-top: -2px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

